* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

img {
    max-width: 100%;
}

body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Header CSS */

.main-container {
    height: 100%;
    width: 80%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

article p{
    text-indent: 20px;
    margin: 20px;
}

.logo {
   
    display: flex;
}

.logo .brand {
    margin-left: 0.5rem;
}

.logo .logo-image {
    display: flex;
    align-items: center;

}

.links {
    display: flex;
    
    
}

.social {
    margin-right: 0.8rem;
}

/* HR CSS */
container {
    width: 100%;
}

.hr {
    height: 10px;
    width: 100%;
    background-image: url('../assets/hr-img.png');
    margin: 1.6rem;
}

.container {
    display: flex;
    justify-content: space-between;
}

.print {
    display: flex;
    align-items: center;
    
}

.print p {
    font-size: 12px;
    margin-left: 0.2rem;
}

/* recipe list css*/

.recipe-container{
    background-image: url('../assets/list-bg.png');
    display: flex;
    justify-content: space-evenly;
}

ul{
    list-style: none;
}

input:checked {
    background-color: yellow;
    border-radius: 10px;
}